*{
  margin: 0;
  padding: 0;
}
/*Dasboard*/
.DashBoard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/*card*/
.cardBox{
  width: 300px;
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 20px 20px 40px lightgray;
  border-radius: 5px;
}
.productImage{
  object-fit: cover;
}

.cardPrice{
  text-align: right;
  margin: 0.5rem;
  color:#ff37dd;
}

.cardTitle{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem;
}

.cardDescription{
  text-align: center;
  margin: 0.5rem;
  font-size: 0.78rem;
  color:#7e7d7d;
}

/*error box*/
.errorBox{
  padding: 1rem;
  border :0.1rem solid transparent;
  border-radius:0.5rem;
  color:#a02020;
  background-color:#ffe0e0e0;
}


/*sort buttons*/
.sortOp{
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  align-items: center;
}

.btnSort{
  background-color: white;
  border:0;
  margin:1rem;
  cursor: pointer;
}

.selected{
  border-bottom: 3px solid #2874f0;
  color:#2874f0;
}